.pdfWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
}
.pdfContainer {
  width: 210mm; /* A4 width */
  height: auto; /* Height based on content */
  margin: auto;
  border: 1px solid #dedede;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 297mm; /* A4 height */
  page-break-after: always; /* Ensure each page breaks properly */
}

.mainContainer2 {
  background-color: rgb(82, 86, 89);
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: auto;
  position: fixed;
}

.pdfBody {
  text-align: left;
  padding: 10px; 
}

/* switchable tabs html print */
.tabHtmlPrintOuter {
  background: #fff none repeat scroll 0 0;
  margin-right: 10px;
  margin-top: 10px;
  font-weight:bold;
}

.tabHtmlPrint {
  float: left;
  padding: 7px;
  cursor: pointer;
  text-align: center;
  color: #999;
  height: 100%;
  margin-right:5px;
}

.tabHtmlPrint:hover {
  color: #0665b9;
}

.tabHtmlPrint-active {
  float: left;
  padding:7px;
  cursor: pointer;
  text-align: center;
  color: #0665b9;
  border-bottom: 3px solid #0665b9;
  height: 100%;
  margin-right:5px;
}















