body {
    /* font-family: monospace, monospace; */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0px;
    font-size:12px;
    height:100%;
    color: #34485D;
}

*{
  box-sizing: border-box;
}

.clr{
  clear:both;
}

html{
  height: 100%;
}

.mainWrapper{
  float:left;
  width: 100%;
  height:100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #F5F5F7;
}

.mainWrapper div{
  float:left;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    width:100%;
}

.stickyInner {
    width: 100%;
    border-bottom: 1px solid #eee;
    height: 60px;
}


.mednetLogo {
    float: left;
    height: 60px;
    padding: 16px 20px;
}

.wrapperHeading {
    font-size: 34px;
    border-left: 1px solid #eee;
    padding: 10px 20px;
}

.wrapperToggle_btn {
    padding: 0px 10px;
    /* margin-left: 5px; */
    cursor: pointer;
    /* border-radius: 20px;
    background-color: white;
    border: 1px solid #ccc; */
    color:#555;
    height: 24px;
    line-height: 24px;
    float: left;
    width:100%;
    /* margin-top: 5px; */
}

.wrapperToggle_btn:hover{
    color:white;
    background-color: #00000095;
}

.wrapperToggle_btn.wrapperToggle_btnActive {
    background-color: black;
    color: white;
}

.mainContainer{
    padding: 10px;
    height:calc(100% - 0px);
    overflow-y:auto;
    overflow-x: hidden;
    width:calc(100% - 155px);
    float: left;
    position: relative;

}

.container {
    display: flex;
    width: 100%;
    border: 1px solid #dedede;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 12px #00000014;
    margin-bottom:20px;
}

.html {
    width: 65%;
}

.header {
    border-bottom: 1px solid#cccccc61;
    padding: 5px 10px;
    margin: 0px;
    color: gray;
    position: relative;
    min-height: 41px;
}

.preview {
    width: 35%;
    border-left: 1px solid #cccccc75;
    background: #fff;
    border-radius: 0px 3px 3px 0px;
}

h3{
    margin: 0;
    margin-bottom: 20px;
}

pre{
    padding:0em;
    margin:0em;
    text-align: left;
    width:100%;
    float: left;
    overflow-x: auto;
}

.PreContent{
    padding:10px;
    width:100%;
}

code {
    float: left;
    margin-left: -180px;
    word-wrap: break-word;
}

.marginR10{
    margin-right: 10px;
}
.marginR5{
    margin-right:5px;
}

.pull_left {
    float:left;
}

.pull_right{
    float: right !important;
}

.copy_popup {
    width: 200px;
    display: none;
    position: absolute;
    left: 550px;
    background-color: #E8F5E9;
    color: #1B5E20;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #A5D6A7;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 13px;
}

/* switchable tabs web & print */
.tabWebPrintOuter {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dedede;
    border-radius: 25px;
    height: 40px;
    padding: 5px 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight:bold;
}

.tabWebPrint {
    float: left;
    padding: 0px 12px;
    cursor: pointer;
    text-align: center;
    color: #999;
    height:100%;
    line-height:30px;
    border-radius: 30px;
}

.tabWebPrint:hover {
    color: #1e88e5;
}

.tabWebPrint-active {
    float: left;
    padding: 0px 12px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    line-height: 30px;
    color: #fff;
    background: #1e88e5;
    border-radius: 30px;
}
/* switchable tabs web & print end*/

.closeProgressBar {
    float: right !important;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 22px !important;
    background: rgba(0,0,0,0.7);
    color: #ccc;
    line-height: 40px !important;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.FixedInner {
    z-index:999;
    width:155px;
    height:calc(100% - 0px);
    /* position:fixed; */
    overflow-y:auto;
    background-color: #fff;
}

.FixedInner2 {
    z-index:999;
    width:150px;
    height:calc(100% - 0px);
    /* position:fixed; */
    overflow-y:auto;
    background-color: #fff;
}

#myInput {

}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 370px;
    overflow-y: auto;
    border: 1px solid #dedede;
    background:#fff;
    box-shadow: 0px 4px 8px -2px #ccc;
}

#myUL li a {
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

/* Custom Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:15px;
}

::-webkit-scrollbar-thumb {
    background: #bdbcbc;
    border-radius:15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888787;
}
/* Custom Scrollbar end*/